* {
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}
body {
  background-color: #f0eff4;
}
.header {
  background-color: #323150;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/background\ image.jpeg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  color: white;
  font-size: 0.8rem;
}

.logo {
  font-weight: 800;
}

.navbar-links {
  font-weight: 700;
}

/* HERO SECTION */

.social-media-icons-holder {
  gap: 2rem;
}

.home {
  color: white;
  padding-top: 4rem;
}

.main-name {
  font-weight: 700;
  font-size: 1.3rem;
}

.designation {
  font-size: 0.7rem;
  font-weight: 200;
}

.social-icons {
  color: white;
}

.hireme-button-holder button {
  border: 0;
  outline: 0;
  background-color: #f54460;
  border-radius: 100px;
}

/* MAIN SECTION 1 */

.main-section-one {
  background-color: #f0eff4;
  font-size: 1rem;
}

.about-me {
  font-size: 1.4rem;
  font-weight: 800;
}

.graph-container {
  background-color: #f5f5f5;
  width: fit-content;
}

.graph-container-mobile {
  font-size: 0.8rem;
}

/* ACCOMPLISHMENT */

.accomplishment {
  font-size: 0.8rem;
  background-color: #f0eff4;
}

.a-values > p {
  margin: 0;
  padding: 0;
}

.a-values > p:first-child {
  font-weight: 900;
}
.a-values {
  margin: 0 auto;
}
.box {
  background-color: #3f69a4;
  padding: 1rem;
  border-radius: 5px;
  align-items: center;
  color: white;
}

/* SERVICES */

.service-sectoins {
  background-color: #f0eff4;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.box-service {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 2rem;
  border-radius: 10px;
  height: 12rem;
  margin-bottom: 2rem;
}

.box-ui {
  background-color: #6868dd;
}
.box-web {
  background-color: #eecf48;
}
.box-photo {
  background-color: #f6485c;
}

.box-service > p:first-child {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.box-service > p:last-child {
  font-size: 0.6rem;
  margin: 0;
  padding: 0;
}

.service-head {
  font-size: 1.4rem;
  font-weight: 700;
}

.service-last {
  font-size: 0.6rem;
  text-align: center;
}
.service-last > a {
  text-decoration: none;
  color: #cab245;
}

/* EXPERIENCE */

.experience-section {
  background-color: #f0eff4;
  margin-bottom: 5rem;
}

.ebox {
  background-color: white;
  padding: 1rem;
  border-radius: 7px;
  margin-bottom: 2rem;
}

/* EXPERIENCE */

.experience-heading {
  font-size: 1.4rem;
  font-weight: 700;
}

.education {
  padding-bottom: 2rem;
  font-size: 0.8rem;
}

.education > p {
  margin: 0;
  padding: 0;
}
.education > p:first-child {
  font-size: 0.6rem;
  font-weight: 200;
  padding-bottom: 0.2rem;
}

.education > p:nth-child(2) {
  font-weight: 900;
  padding-bottom: 0.2rem;
}

.education > p:last-child {
  font-size: 0.6rem;
}

/* WORK DONE */
.boxw {
  margin-bottom: 1rem;
}

.work-images {
  border-radius: 50%;
}
